/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #f2f2f2; /* Text color changed to light gray */
    background-color: #333; /* Background color changed to dark gray */
}

/* Header styles */
header {
    background-color: #444; /* Header background color changed to darker gray */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Main styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #444; /* Main background color changed to darker gray */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Box shadow color changed to lighter gray */
}

.toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #f2f2f2; /* Button background color changed to light gray */
    color: #333; /* Button text color changed to dark gray */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ccc; /* Button background color changed to lighter gray on hover */
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #333; /* Input background color changed to dark gray */
    color: #f2f2f2; /* Input text color changed to light gray */
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
}
